html,
body {
  padding: 0;
  margin: 0;
  background-color: #4d4b4b;

  font-family: "Nunito";
}

.homelayout {
  margin: 100px auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
